%p#notice= notice

%p
  %b Title:
  = @lesson.title
%p
  %b Body:
  = @lesson.body
%p
  %b Happened at:
  = @lesson.happened_at
%p
  %b Professor:
  = @lesson.professor

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
