%p#notice= notice

%h1= @lesson.title
%p
  :markdown
    #{@lesson.body}
%p
  %b Le cours a eu lieu :
  = @lesson.happened_at
%p
  %b Professeur :
  = @lesson.professor

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
